body{
    background-color: rgb(22, 22, 22);
    font-family: Quicksand;
    color: white;
}
nav{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}
nav #loginRegister img{
   max-width: 60px;
   max-height: 60px;
   border-radius: 100%;
   float: left;
   margin: 1px 0px 0px 50px;
}
nav #loginRegister p{
    font-size: 18px;
    margin-right: 200px;
}

nav ul #option{
    display: inline-block;
    margin: 0px 50px;
}